Create a simple dataset and save it as orc

In [6]:
case class Person(name: String, age: Long)

In [8]:
val df = sqlContext.createDataFrame(Seq(Person("Andy", 32)))

In [16]:
df.write.orc("persons.orc")

In [17]:
df.registerTempTable("persons")

In [20]:
sqlContext.sql("SELECT * FROM persons WHERE age>30").collect()

Array([Andy,32])